---
# tasks file for nano
- name: install
  apt:
    name: nano
    state: latest
  tags: [configuration, nano, nano-install]

- name: create configuration file
  template:
    src: etc/nanorc.j2
    dest: "{{ item }}/.nanorc"
    owner: root
    group: root
    mode: 0644
  with_items: nano_nanorc_destinations
  tags: [configuration, nano, nano-configuration]
